@import "shared";

#button(@color, @font-size) {
  background-color: @color;
  box-shadow: #151515 0 0 8px 0;

  &:hover {
    background-color: lighten(@color, 5%);

    Label {
      color: #e1e1e1;
    }
  }

  &:active {
    background-color: darken(@color, 5%);
    transform: translateX(1px) translateY(1px);
  }

  Label {
    font-family: @font-regular;
    color: white;
    align: center center;
    text-align: center center;
    font-size: @font-size;
  }
}

#editor_ui {
  width: 100%;
  height: 100%;

  #editor_indicator {
    width: 100%;
    height: 100%;
    border: 4px solid #6cd1ff;

    #editor_context_menu {
      flow-children: down;
      box-shadow: #151515 0 0 8px 0;

      .context_menu_button {
        width: 180px;
        height: 30px;

        #button(#688bff, 16px);
        box-shadow: none;
        border-bottom: 1px solid black;
      }
    }

    #editor_toolbar {
      margin: 40px;
      align: left bottom;
      flow-children: down;

      #editor_selected_entity {
        vertical-align: center;
        color: white;
        font-family: @font-regular;
        font-size: 32px;
        margin-right: 40px;
      }

      .editor_toolbar_button {
        vertical-align: center;
        margin: 6px;
        width: 180px;
        height: 40px;

        #button(#be5ee9, 24px);
      }
    }

    #editor_entrance_indicator {
      flow-children: down;

      #editor_entrance_text {
        font-family: @font-title;
        color: white;
        font-size: 24px;
        text-shadow: 0px 0px 4px 3.0 #00000077;
        letter-spacing: 1px;
        text-align: center;
      }

      #editor_entrance_underline {
        width: 100%;
        height: 2px;
        background-color: white;
        opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
      }

      #editor_entrance_marker {
        margin-top: 8px;

        horizontal-align: center;
        width: 32px;
        height: 32px;

        background-size: 100% 100%;
        background-image: url("s2r://panorama/images/hud/reborn/ping_icon_waypoint_psd.vtex");
      }
    }
  }

  #editor_buttons {
    align: right top;
    margin: 20px;
    flow-children: down;

    .editor_button {
      margin: 6px;
      width: 180px;
      height: 40px;

      #button(#688bff, 16px);
    }
  }
}