@import "shared";

#disconnected_ui {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);

  > Label {
    font-family: @font-regular;
    color: white;
    font-size: 45px;
    align: center center;
  }
}

#global_map_ui {
  width: 100%;
  height: 100%;
}

#action_bar {
  align: center bottom;
  margin: 20px;

  #collection_button {
    width: 200px;
    height: 40px;
    background-color: #688bff;

    &:hover {
      background-color: #5f7ee9;

      Label {
        color: #e1e1e1;
      }
    }

    &:active {
      background-color: #5f7ee9;
      transform: translateX(1px) translateY(1px);
    }

    Label {
      font-family: @font-title;
      color: white;
      align: center center;
      text-align: center center;
      font-size: 24px;
    }
  }
}

#collection {
  align: center center;
  flow-children: down;

  width: 1260px;
  height: 800px;
  background-color: #4e6180;
  background-image: url("s2r://panorama/images/backgrounds/dashboard_vignette_png.vtex");
  background-size: 100% 100%;
  padding: 40px;

  transition-property: transform, opacity;
  transition-duration: 0.1s;
  transform: translateY(60px);
  opacity: 0;

  box-shadow: #151515 0 0 16px 0;

  &.visible {
    transform: none;
    opacity: 1;
  }

  >#header {
    //height: 0px;
    width: 100%;

    Label {
      font-family: @font-title;
      font-size: 40px;

      letter-spacing: 2px;

      color: white;
      align: center center;
      text-shadow: 0px 0px 4px 3.0 rgb(0, 0, 0);
    }
  }

  >#content {
    height: 100%;
    width: 100%;

    flow-children: right;

    #page {
      align: center center;
      flow-children: right-wrap;
      width: 80%;

      .card {
        margin: 20px;
      }
    }

    #deck {
      width: 100%;
      //height: 100%;
      box-shadow: #151515 0 0 16px 0;
      flow-children: down;
      vertical-align: center;

      //background-color: rgba(97, 150, 178, 0.33);
      //background-image: url("s2r://panorama/images/backgrounds/dashboard_vignette_png.vtex");
      //background-size: 100% 100%;

      #deck_header {
        width: 100%;
        height: 40px;

        background-color: #3a4882;
        background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
        background-size: 100% 100%;

        border-bottom: 2px solid #1b1b37;

        Label {
          color: white;
          font-family: @font-title;
          font-size: 22px;
          align: center center;
          letter-spacing: 1px;

          text-shadow: 0px 0px 4px 3.0 rgb(0, 0, 0);

        }

      }

      #deck_content {
        width: 100%;
        flow-children: down;

        box-shadow: inset #151515 0 0 16px 0;

        >.deck_card {
          width: 100%;
          background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
          background-color: #3e4873;
          background-size: 100% 100%;
          border-bottom: 1px solid #1d2b3a;

          &.hero>#image {
            horizontal-align: right;

            height: 100%;
            width: 80px;
            opacity-mask: url("s2r://panorama/images/masks/gradient_rightleft_png.vtex");
            background-size: auto 130%;
            background-position: 50% 50%;
          }

          &.spell>#image {
            horizontal-align: right;

            height: 100%;
            width: 80px;
            opacity-mask: url("s2r://panorama/images/masks/gradient_rightleft_png.vtex");
            background-size: 170% auto;
            background-position: 50% 50%;
          }

          >#name {
            padding: 5px 0;

            font-family: @font-regular;
            font-stretch: condensed;
            font-size: 22px;
            color: #ececec;
            margin-left: 16px;
          }
        }
      }
    }
  }
}